*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: lightslategray;
}
#app {
    margin:auto;
    text-align: center;
    justify-content: center;
    margin-top: 20rem;
}